# Visual Studio / Archivos de compilación C++
.vs/
out/
build/
x64/
Debug/
Release/
*.exe
*.obj
*.pdb
*.ilk

# Python
__pycache__/
*.pyc
env/
venv/
.venv/

# Datos generados (¡Muy importante no subir esto!)
session_telemetry.csv
*.csv